#selected-color {
    position: absolute;
    color: red;
    font-weight: 700;
    font-size: 20px;
}

#title {
    position: absolute;
    font-size: 1.5em;
    bottom: 40px;
    right: 40px;
    font-family: 'Oswald', sans-serif;
}
